<p>{{ title }}</p>
<div class="wrapper">
    <table class="main_table">
        <tr>
            <td>
                <div class="card">
                    <img class="card_image" src="{{ sites[0].imageUrl }}" alt="">
                    <a href="{{ sites[0].link }}" class="card_link">{{ sites[0].name }}</a>
                </div>
            </td>
            <td>
                <div class="card">
                    <img class="card_image" src="{{ sites[1].imageUrl }}" alt="">
                    <a href="{{ sites[1].link }}" class="card_link">{{ sites[1].name }}</a>
                </div>
            </td>
            <td>
                <div class="card">
                    <img class="card_image" src="{{ sites[2].imageUrl }}" alt="">
                    <a href="{{ sites[2].link }}" class="card_link">{{ sites[2].name }}</a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card">
                    <img class="card_image" src="{{ sites[3].imageUrl }}" alt="">
                    <a href="{{ sites[3].link }}" class="card_link">{{ sites[3].name }}</a>
                </div>
            </td>
            <td>
                <div class="card">
                    <img class="card_image" src="{{ sites[4].imageUrl }}" alt="">
                    <a href="{{ sites[4].link }}" class="card_link">{{ sites[4].name }}</a>
                </div>
            </td>
            <td>
                <div class="card">
                    <img class="card_image" src="{{ sites[5].imageUrl }}" alt="">
                    <a href="{{ sites[5].link }}" class="card_link">{{ sites[5].name }}</a>
                </div>
            </td>
        </tr>
    </table>
</div>