<div class="wrapper">
    <p class="about_header">About myself!</p>
    <div class="container">

        <div class="left_col">
            <img src="/../../assets/selfie.jpg">
        </div>
        <div class="right_col">
            <button (click)="myName()">{{ name }}</button><br>
            <button (click)="myBirthdate()">{{ birthDate }}</button><br>
            <button (click)="myAge()">{{ age }}</button><br>
            <button (click)="myEducation()">{{ education }}</button>

        </div>

    </div>
</div>