<div>
    <p>I creating websites for more than five years in the small<br> team of IT experts and my friends.
        <br> I started as a fullstack and choose front-end development as my favorite.</p>
    <nav>
        <ul>
            <li><a href="#">Skills</a>
                <ul>
                    <li><a href="#">HTML</a></li>
                    <li><a href="#">CSS</a></li>
                    <li><a href="#">JavaScript</a></li>
                    <li><a href="#">PHP</a></li>
                    <li><a href="#">SEO</a></li>
                </ul>
            </li>

            <li><a href="#">Experience</a>
                <ul>
                    <li><a href="#">Creation sites with Wordpress,</a></li>
                    <li><a href="#">OpenCart,</a></li>
                    <li><a href="#">Drupal</a></li>
                    <li><a href="#">SEO in Google and Yandex</a></li>
                </ul>
            </li>

        </ul>
    </nav>
</div>